
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="col-md-8 col-lg-9 order-1 order-md-2 mb-5">
    <div class="back-button mb-2">
        <a href="#" class="btn btn-sm btn-text">&larr; Önceki Sayfaya Dön</a>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info">
                        Şifrenizi değiştirmek için önce ilk kutuya eski şifrenizi, ikinci kutuya yeni şifrenizi, üçüncü kutuya da yeni şifrenizi tekrar yazmanız ve <strong>Yeni Şifreyi Kaydet</strong> butonuna basmanız gerekmektedir.
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Eski Şifre</label>
                        <input type="password" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Yeni Şifre</label>
                        <input type="password" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Yeni Şifre (Tekrar)</label>
                        <input type="password" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-lg btn-primary btn-block"><i class="far fa-save mr-2"></i> Yeni Şifreyi Kaydet</button>
                </div>
            </div>
        </div>
    </div>

</div>


