
@{
    ViewData["Title"] = "Refund";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="col-md-8 col-lg-9 order-1 order-md-2 mb-5">
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0"><strong>Talep oluşturmak istediğiniz ürünleri seçiniz</strong></h4>
        </div>
        <div class="card-body">
            <div class="urun-iade-card bg-light p-3 mb-3">
                <div class="row mb-4">
                    <div class="col-md-3 d-flex justify-center">
                        <img src="~/assets/media/img/website/siparis-1.jpg" class="img-fluid border">
                    </div>
                    <div class="col-md-9">
                        <p><strong>Colormax 5.34 Çikolata Kahve - Oksidan Krem 90 ml 4'lü - 5.34</strong></p>
                        <p><strong>Satıcı:</strong> <a href="#">SİZİNBUKOZMETİK</a></p>
                        <p><strong>Adet:</strong> 1</p>
                        <p><strong>Fiyat:</strong> 54,00 TL</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6><strong>Talebiniz için sebep seçiniz</strong></h6>
                        <select class="custom-select mb-2">
                            <option value="">Siparişi iptal etmek istiyorum</option>
                            <option value="">Siparişi iptal etmek istiyorum</option>
                            <option value="">Siparişi iptal etmek istiyorum</option>
                            <option value="">Siparişi iptal etmek istiyorum</option>
                        </select>
                        <select class="custom-select mb-2">
                            <option value="Siparişi iptal etmek istiyorum">Ürün almaktan vazgeçtim</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="urun-iade-card bg-light p-3 mb-3">
                <div class="row mb-4">
                    <div class="col-md-3 d-flex justify-center">
                        <img src="~/assets/media/img/website/siparis-1.jpg" class="img-fluid border">
                    </div>
                    <div class="col-md-9">
                        <p><strong>Colormax 5.34 Çikolata Kahve - Oksidan Krem 90 ml 4'lü - 5.34</strong></p>
                        <p><strong>Satıcı:</strong> <a href="#">SİZİNBUKOZMETİK</a></p>
                        <p><strong>Adet:</strong> 1</p>
                        <p><strong>Fiyat:</strong> 54,00 TL</p>
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-block">Devam</a>
        </div>
    </div>



</div>

