@{
    Layout = "~/Views/Shared/_SellerRegisterLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-10 ml-auto mr-auto">
            <div class="card p-5">
                <div class="alert alert-warning text-center">
                    @Localizer["EmailAdresiniOnaylayin"]
                </div>
                <p><a href="/SellerPage" type="submit" class="btn btn-primary btn-lg btn-block">@Localizer["Anasayfa"]</a></p>
            </div>
        </div>
    </div>
</div>