
@{
    ViewData["Title"] = "NonAutorize";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}

<div class="alert alert-custom alert-danger" role="alert">
    <div class="alert-icon"><i class="flaticon-warning"></i></div>
    <div class="alert-text">@Localizer["YetkinizBulunmuyor"]</div>
</div>
